html{
	background-color: #00251423;
}
body{
	width: 600px;
	background-color: #59cee6;
	padding: 0 10px 10px 10px;
	border: 3px solid black;
	margin: 0px 50px 50px 50px;
}
tbody{
	color: whith;
}
td{
	border: 1px solid black;
}
th{
	border: 1px solid black;
}